<div class="container">

  <h1 mat-dialog-title>Сделка</h1>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">


    <!-- Buy -->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Въведете количество:" [(ngModel)]="data.quantity" name="quantity"
          required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!-- Sell Price -->
    <!-- <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Sell price" [(ngModel)]="data.sellprice" name="sellprice"
          required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div> -->

    <!-- Stop loss -->
    <!-- <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Stop loss" [(ngModel)]="data.stopLoss" name="stoploss"
          required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div> -->

    <!-- Take profit -->
    <!-- <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Take profit" [(ngModel)]="data.takeProfit" name="takeprofit"
          required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div> -->

    <div style="margin: 15px !important;" mat-dialog-actions>
      <button mat-button type="button" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Потвърди</button>
      <button mat-button type="button" (click)="cancel()" tabindex="-1">Отмени</button>
    </div>
  </form>
</div>
