<div class="container">
  <h3 mat-dialog-title>Добави администратор</h3>

  <form [formGroup]="adminForm" class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput class="form-control" placeholder="Пълно име" formControlName="fullname">
        <mat-error *ngIf="!adminForm.controls['fullname'].valid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput class="form-control" placeholder="Email" formControlName="email" type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        <mat-error *ngIf="!adminForm.controls['email'].valid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput class="form-control" placeholder="Парола" formControlName="password">
        <mat-error *ngIf="!adminForm.controls['password'].valid">{{getErrorMessage()}}</mat-error>

      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput class="form-control" placeholder="Роля" formControlName="role">
        <mat-error *ngIf="!adminForm.controls['role'].valid">
          {{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div style="margin: 15px !important;" mat-dialog-actions>
      <button mat-button type="button" [disabled]="!formControl.valid" (click)="confirmAdd(this.formData)">Потвърди</button>
      <button mat-button type="button" (click)="cancel()" tabindex="-1">Отмени</button>
    </div>

  </form>
</div>
