/* You can add global styles to this file, and also import other style files */

html,
body {
  /* height: 100%; */
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  background-color: #504aa7; /* fallback for old browsers */
  background-image: url("./assets/background-blur.jpg");
  background-attachment: fixed;
  background-repeat: repeat; 
  background-size: cover;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
