<mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon class="toolbar-icon">history</mat-icon>&nbsp;
      <span class="toolbar-spacer">История</span>     
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Филтър">
      </mat-form-field>
    </mat-toolbar-row>
  
  </mat-toolbar>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="dataSource">

    <!-- Company Detail -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Компания</th>
      <td mat-cell *matCellDef="let row">
        <mat-card class="comapny-details">
          <mat-card-header>
            <div mat-card-avatar class="company-avatar">
              <img class="company-image" [src]="'http://localhost:5500//'+row.icon" alt="Company Photo">
            </div>
            <mat-card-title>{{row.name}}</mat-card-title>
            <mat-card-subtitle>{{row.abbr}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </td>
    </ng-container>

    <!-- Industry Column -->
    <ng-container matColumnDef="industry">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Индустрия</th>
      <td mat-cell *matCellDef="let row">{{row.industry}}</td>
    </ng-container>

    <!-- Units Column -->
    <ng-container matColumnDef="units">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Количество</th>
        <td mat-cell  *matCellDef="let row">
          <div class="units">
            {{row.units}}
          </div>
        </td>
      </ng-container>

      Цена на закупуване
    <ng-container matColumnDef="buyprice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Цена на закупуване</th>
        <td mat-cell *matCellDef="let row">
            <div class="buyprice">
                {{row.buyprice}}
                <mat-icon class="attach-money">attach_money</mat-icon>
            </div>
        </td>
      </ng-container>

      Цена на продаван
    <ng-container matColumnDef="sellprice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Цена на продаване</th>
        <td mat-cell *matCellDef="let row">
            <div class="buyprice">
                {{row.sellprice}}
                <mat-icon class="attach-money">attach_money</mat-icon>
            </div>
        </td>
      </ng-container>

    <!-- Profit/Loss Column -->
    <ng-container matColumnDef="dateopened">
        <th mat-header-cell *matHeaderCellDef>Печалба</th>
        <td mat-cell *matCellDef="let row">
            <div class="buyprice">
              <!-- [ngClass]="{green : row.sellprice - row.buyprice > 0, red: row.sellprice - row.buyprice < 0}" -->
              {{row.sellprice - row.buyprice}}
              <mat-icon class="attach-money">attach_money</mat-icon>
              </div>
        </td>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <mat-paginator [pageSizeOptions]="[10, 20, 40, 80, 100]"></mat-paginator>

</div>

<router-outlet></router-outlet>
