<button mat-fab color="primary" (click)="sidenav.open()" id="sidenav-button">
  <mat-icon>menu</mat-icon>
</button>
<button mat-fab color="primary" id="to-top-button" (click)="onEdit()">
  <mat-icon>keyboard_arrow_up</mat-icon>
</button>
<mat-sidenav-container class="sidenav-container" (backdropClick)="sidenav.close()">

  <mat-sidenav #sidenav (keydown.escape)="sidenav.close()" disableClose>

    <h3 class="sidenav-title">Invest42</h3>
    <div style="color:white; display: block; font-size: 16px; font-weight:normal; text-align: center;">
      Текущо време: {{ now | date:'HH:mm:ss'}}
    </div>
    <app-manager-profile [managing]="managing"></app-manager-profile>

    <mat-toolbar *ngIf="navMode" class="navmode-container">
      <span>{{navMode}}</span>
    </mat-toolbar>

    <mat-nav-list class="nav-list-container">
      <mat-list-item *ngFor="let item of navMenu" class="nav-row" [ngClass]="{'active': item.isActive }" (click)="sidenav.close()"
        mat-list-item routerLink="{{item.route}}">
        {{item.text}}
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>


</mat-sidenav-container>
