<mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon class="toolbar-icon">search</mat-icon>&nbsp;
      <span class="toolbar-spacer">Наблюдавани</span>     
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Филтър">
      </mat-form-field>
    </mat-toolbar-row>
  
  </mat-toolbar>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="dataSource">

    <!-- Company Detail -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Компания</th>
      <td mat-cell *matCellDef="let row">
        <mat-card class="comapny-details">
          <mat-card-header>
            <div mat-card-avatar class="company-avatar">
              <img class="company-image" [src]="'http://localhost:5500//'+row.icon" alt="Company Photo">
            </div>
            <mat-card-title>{{row.name}}</mat-card-title>
            <mat-card-subtitle>{{row.abbr}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </td>
    </ng-container>

    <!-- Industry Column -->
    <ng-container matColumnDef="industry">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Индустрия</th>
      <td mat-cell *matCellDef="let row">{{row.industry}}</td>
    </ng-container>

    <!-- Start Price Column -->
    <ng-container matColumnDef="startprice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Стартова цена</th>
      <td mat-cell *matCellDef="let row">
          <div class="startprice">
              {{row.startprice}}
              <mat-icon class="attach-money">attach_money</mat-icon>
          </div></td>
    </ng-container>

    <!-- Buy Price Column -->
    <ng-container matColumnDef="currentprice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Текуща цена</th>
        <td mat-cell *matCellDef="let row">
          <div class="currentprice">
              {{row.currentprice}}
              <mat-icon class="attach-money">attach_money</mat-icon>
          </div>
        </td>
    </ng-container>

    <!-- Remove From Watchlist -->
    <ng-container matColumnDef="removeFromWatchlsit">
      <th mat-header-cell *matHeaderCellDef>Премахни от наблюдавани</th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button (click)="removeFromWatchlsit(row.id)">Премахни от наблюдавани</button>
      </td>
    </ng-container>

    <!-- Buy Column -->
    <ng-container matColumnDef="buy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Сделки</th>
      <td mat-cell *matCellDef="let row">
          <div class="trade-button">
              <button style="width: 150px !important;" class="buy-button" mat-raised-button (click)="buy(row.id, row.currentprice)">Купувай</button>
            </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <mat-paginator [pageSizeOptions]="[10, 20, 40, 80, 100]"></mat-paginator>

</div>

<router-outlet></router-outlet>
