<div class="container">
  <h3 mat-dialog-title>Добави клиент</h3>

  <form [formGroup]="clientForm" class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput class="form-control" placeholder="Пълно име" formControlName="fullname">
        <mat-error *ngIf="!clientForm.controls['fullname'].valid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput class="form-control" placeholder="Email" formControlName="email" type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        <mat-error *ngIf="!clientForm.controls['email'].valid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput class="form-control" placeholder="Адрес" formControlName="address">
        <mat-error *ngIf="!clientForm.controls['address'].valid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput class="form-control" placeholder="Години" formControlName="age">
        <mat-error *ngIf="!clientForm.controls['age'].valid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput class="form-control" placeholder="Баланс по сметка" formControlName="availableBalance">
        <mat-error *ngIf="!clientForm.controls['availableBalance'].valid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div style="margin: 15px !important;" mat-dialog-actions>
      <button mat-button type="button" [disabled]="!formControl.valid" (click)="confirmAdd(this.formData)">Потвърди</button>
      <button mat-button type="button" (click)="cancel()" tabindex="-1">Отмени</button>
    </div>

  </form>
</div>
