<div class="container">
  <h3 mat-dialog-title>Клиент ID: {{data.id}}</h3>

  <div [formGroup]="editClientForm" class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div>
      <p>Текущ мениджър (email):</p>
      <p>{{data.managerEmail}}</p>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Нов мениджър (email)" formControlName="email">
        <mat-error *ngIf="!editClientForm.controls['email'].valid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div style="margin: 15px !important;" mat-dialog-actions>
      <button mat-button type="button" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Потвърди</button>
      <button mat-button type="button" (click)="cancel()" tabindex="-1">Отмени</button>
    </div>
  </div>
</div>
