<div class="container">
  <h3 mat-dialog-title>Админ ID: {{data.id}}</h3>

  <div [formGroup]="editAdminForm" class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Email" formControlName="email">
        <mat-error *ngIf="!editAdminForm.controls['email'].valid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Парола" formControlName="password">
        <mat-error *ngIf="!editAdminForm.controls['password'].valid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div style="margin: 15px !important;" mat-dialog-actions>
      <button mat-button type="button" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Потвърди</button>
      <button mat-button type="button" (click)="cancel()" tabindex="-1">Отмени</button>
    </div>
  </div>
</div>
