<div class="container">
  <h1 *ngIf="data.isDeposit">Депозит</h1>
  <h1 *ngIf="!data.isDeposit">Теглене</h1>

  <h3 mat-dialog-title>Клиент ID: {{data.id}}</h3>


  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div>
      <p>Текущ баланс:</p>
      <p>{{data.availableBalance}}</p>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Нов баланс" [(ngModel)]="data.balance" name="balance"
          required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div style="margin: 15px !important;" mat-dialog-actions>
      <button mat-button type="button" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Потвърди</button>
      <button mat-button type="button" (click)="cancel()" tabindex="-1">Отмени</button>
    </div>
  </form>
</div>
