<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet"> -->
<div id="container">
  <div id="content" class="content page" [@routerAnimations]="prepareRouteTransition(outlet)">
    <div id="page">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>

  </div>
</div>

<!-- our parallax stuff -->
<div appParallax [ratio]="0.5" id="page"></div>
<ngx-spinner bdColor="rgba(51,51,51,0.4)" size="medium" color="#fff" type="ball-scale-pulse">
  <p style="font-size: 20px; color: white">Зареждане...</p>
</ngx-spinner>
