<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon style="margin-right: 15px !important;" class="toolbar-icon">security</mat-icon>
    <span class="toolbar-spacer">Админи</span>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Филтър">
    </mat-form-field>
  </mat-toolbar-row>

</mat-toolbar>


<div class="mat-elevation-z8">
  <table #dynamicTable mat-table [dataSource]="dataSource" matSort class="full-width-table">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Avatar Column -->
    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Avatar </th>
      <td mat-cell *matCellDef="let row">
        <img class="profile-image" [src]="'http://localhost:5500/'+row.avatar">
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
      <td mat-cell *matCellDef="let row"> {{row.fullname}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let row"> {{row.status}} </td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">

      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNewUser()">
          <mat-icon aria-label="Add">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(row.id, row.email, row.password)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
      </mat-cell>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="no-results" [style.display]="dataSource.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator [pageSizeOptions]="[10, 20, 40, 80, 100]"></mat-paginator>
</div>
