<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon style="margin: 15px !important;" class="toolbar-icon">public</mat-icon>
    <span class="toolbar-spacer">Клиенти</span>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Филтър">
    </mat-form-field>
  </mat-toolbar-row>

</mat-toolbar>

<div class="mat-elevation-z8">
  <table #dynamicTable mat-table [dataSource]="dataSource" matSort class="full-width-table">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Icon Column -->
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Icon </th>
      <td mat-cell *matCellDef="let row">
        <img class="profile-image" [src]="'http://localhost:5500/'+row.icon">
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Пълно име </th>
      <td mat-cell *matCellDef="let row"> {{row.fullname}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Адрес </th>
      <td mat-cell *matCellDef="let row"> {{row.address}} </td>
    </ng-container>

    <!-- Available Balance Column -->
    <ng-container matColumnDef="availableBalance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Баланс по сметка</th>
      <td mat-cell *matCellDef="let row"> {{row.availableBalance}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Статус </th>
      <td mat-cell *matCellDef="let row"> {{row.status}} </td>
    </ng-container>

    <!-- Manager name Column  -->
    <ng-container matColumnDef="managerName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Мениджър (име) </th>
      <td mat-cell *matCellDef="let row">
        <p *ngIf="row.managerName"> {{row.managerName}} </p>
        <p *ngIf="!row.managerName"> - </p>
      </td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">

      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNewClient()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(row.id, row.email, row.managerEmail)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
      </mat-cell>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="no-results" [style.display]="dataSource.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator [pageSizeOptions]="[10, 20, 40, 80, 100]"></mat-paginator>
</div>
