<mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon style="margin: 15px !important;" class="toolbar-icon">people</mat-icon>&nbsp;
      <span class="toolbar-spacer">Клиенти</span>     
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Филтър">
      </mat-form-field>
    </mat-toolbar-row>
  
  </mat-toolbar>

  <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="full-width-table">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Icon Column -->
    <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Icon </th>
        
        <td mat-cell *matCellDef="let row">
        <img class="profile-image" [src]="'http://localhost:5500/'+row.icon">
        </td>
      </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Имена </th>
      <td mat-cell *matCellDef="let row"> {{row.fullname}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">

      <th mat-header-cell *matHeaderCellDef> Към профила: </th>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="manage(row.id)">
          <mat-icon class="manage-button">input</mat-icon>
        </button>
      </mat-cell>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="no-results" [style.display]="dataSource.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator [pageSizeOptions]="[10, 20, 40, 80, 100]"></mat-paginator>
</div>
