<div class="container">
  <h1 mat-dialog-title *ngIf="data.isSell">Купувай</h1>
  <h1 mat-dialog-title *ngIf="!data.isSell">Продавай</h1>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div *ngIf="data.isSell">
      <p>Текущи бройки:</p>
      <p>{{data.units}}</p>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Въведете количество:" [(ngModel)]="data.quantity" name="quantity"
          required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div style="margin: 15px !important;" mat-dialog-actions>
      <button mat-button type="button" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Потвърди</button>
      <button mat-button type="button" (click)="cancel()" tabindex="-1">Отмени</button>
    </div>
  </form>
</div>
