<mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon class="toolbar-icon">trending_up</mat-icon>&nbsp;
      <span class="toolbar-spacer">Позиции</span>     

    </mat-toolbar-row>
  
  </mat-toolbar>

<div class="positions-page-container">
  <div *ngFor="let client of clients; let i = index" class="client-row-container">

    <mat-accordion>
      <mat-expansion-panel>

        <mat-expansion-panel-header>

          <mat-panel-title class="title left-align">
            <span style="text-align: left !important;">Client ID: {{client.id}} </span>
          </mat-panel-title>
          <mat-panel-title class="title left-align">
              <img class="client-avatar" [src]="'http://localhost:5500//'+client.icon" alt="Company Photo">
          </mat-panel-title>
          <mat-panel-title class="title left-align">
          Име: {{client.fullname}}
          </mat-panel-title>
          <mat-panel-title class="title left-align">
          Email: {{client.email}}
          </mat-panel-title>

          <!-- <mat-panel-description>
            View Orders:
          </mat-panel-description> -->

        </mat-expansion-panel-header>
        <div class="mat-table-container">
          <h2>Покупки: </h2>
          <table matSort (matSortChange)="sortData($event, i)">
            <tr>
              <th mat-sort-header="id">Id</th>
              <th mat-sort-header="units">Брой</th>
              <th mat-sort-header="closedate">Дата на закупуване</th>
              <th mat-sort-header="buyprice">Цена на заупуване</th>
            </tr>

            <tr *ngFor="let order of client.orders">
              <td>{{order.id}}</td>
              <td>{{order.units}}</td>
              <td>{{order.closedate.slice(0,10)}} {{order.closedate.slice(11,19)}}</td>
              <td>{{order.buyprice}}</td>
            </tr>
          </table>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>