th {
/* padding-left: 75px; */
border: 1px solid black;
width: 10%;
font-size: 16px;
}

td {
  border: 1px solid black;
width: 10%;
font-size: 16px;
text-align: left;

}


.mat-expansion-panel-body {
  padding: 0 75px 16px;
}

.mat-table-container{
  padding-left: 50px;

}


.mat-toolbar-row, .mat-toolbar-single-row {
  padding-left: 75px;
}

.client-avatar{
  width: 40px;
  height: 45px;
}

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
  margin: auto;
    text-align: left;
    justify-content: left;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

td.mat-cell:nth-of-type(1), td.mat-footer-cell:nth-of-type(1), th.mat-header-cell:nth-of-type(1) {
  /* padding-left: 75px; */
  width: 15%;
  justify-content: left;
}

mat-expansion-panel-header{
  border: 1px solid #eee;
  justify-content: left !important;
}
/* mat-expansion-panel-header:hover{
  background-color: #eee;
}

mat-expansion-panel-header:active{
  background-color: #eee;
} */