<div *ngIf="client" class="client-profile-container">
    <mat-card>
        <mat-card-content>
            <div mat-card-avatar class="client-head">
                <mat-card-title>Профил</mat-card-title>
                <img class="client-image" [src]="'http://localhost:5500//'+client.icon" alt="Client Icon">
            </div>
            <div class="client-details">
              <mat-list>
                  <mat-list-item > <b>Имена:</b>&nbsp;  {{client.fullname}} </mat-list-item>
                  <mat-list-item > <b>Email:</b>&nbsp; {{client.email}} </mat-list-item>
                  <mat-list-item > <b>Дата на регистрация:</b>&nbsp; {{client.dateOfCreation.slice(0, 10)}} </mat-list-item>
                  <mat-list-item > <b>Адрес:</b>&nbsp; {{client.address}} </mat-list-item>
              </mat-list>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="editAccount()">Редактирай</button>
          </mat-card-actions>
      </mat-card>
    </div>
      <div *ngIf="client" class="client-investments-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Преглед на инвестициите</mat-card-title>
      <!-- <mat-card-subtitle>Age: {{client.age}}</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
       <!-- <p class="mat-body-1">
        Available Balance:<br/>
      </p>
      <p class="mat-body-1">
          Available Balance:<br/> 
        </p> -->
        <div class="important-info-header">
          <p style="font-size: 42px !important; margin-bottom: 15px !important;" class="number-info">{{client.availableBalance}} <mat-icon class="attach-money">attach_money</mat-icon></p> 
          Наличен баланс
        </div>
        <mat-divider></mat-divider>
        <div class="important-info-header">
          <p style="font-size: 42px !important; margin-bottom: 15px !important;" class="orders-info">{{clientOrders.length}}</p>
          Активни инвестиции
        </div>
        <mat-divider></mat-divider>
        <!-- [ngClass]="{green : profitLoss > 0, red: profitLoss < 0}" -->
        <div class="important-info-header" *ngIf="client.orders" >
            <p style="font-size: 42px !important; margin-bottom: 15px !important; color: green !important;" class="profit-loss-info">{{profitLoss}} <mat-icon class="attach-money">attach_money</mat-icon></p>
            Печалба/Загуба
          </div>
          <mat-divider></mat-divider>


    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="deposit()">Депозит</button>
        <button mat-raised-button color="primary" (click)="withdraw()">Теглене</button>

    </mat-card-actions>
  </mat-card>
</div>