<div class="admin-home-container">

  <div class="first-div">
    <mat-card>
      <mat-card-header>

        <!-- <mat-card-title>Кратко описание на системата:</mat-card-title> -->

      </mat-card-header>

      <mat-card-content>
        <p style="font-weight: 400; color: rgb(81, 79, 209);" class="home-text">
          <strong>Invest-42</strong> е система „всичко в едно“, предоставяща на инвестиционните компании 
          единствен кохерентен център за високопрофилно управление на клиенти.<br/><br/>
          Приложението позволява на мениджърите да работят върху клиентски инвестиционни профили въз основа на инстукции от самите тях, 
          да следят цените на фондовите борси и да четат най-актуалните новини за компаниите, с които търгуват.
        </p>
      </mat-card-content>

    </mat-card>

  
  </div>

</div>
