<div class="page-container">

  <div class="company-details-container">
    <mat-chip-list>
      <mat-chip color="primary" selected>Детайли за компанията:</mat-chip>
    </mat-chip-list>
    <mat-card style="width: 750px !important;" class="company-card" *ngIf="companyObject">
      <mat-card-header>
        <mat-card-title-group>
          <img mat-card-lg-image class="company-image" [src]="'http://localhost:5500/'+companyObject.icon" alt="Company Photo">
          <mat-card-title>{{companyObject.name}}</mat-card-title>
          <mat-card-subtitle>{{companyObject.abbr}}</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem"><span class="preposition">CEO: </span>{{companyObject.ceo}}</mat-list-item>
          <mat-list-item role="listitem"><span class="preposition">Индустрия: </span>{{companyObject.industry}}</mat-list-item>
          <mat-list-item role="listitem"><span class="preposition">Адрес: </span>{{companyObject.address}}</mat-list-item>
          <mat-list-item role="listitem"><span class="preposition">Дата на основаване: </span>{{companyObject.startdate.substring(0,
            10)}}</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <span *ngIf="companyNews">
      <mat-chip-list *ngIf="companyNews[0]">
        <mat-chip color="primary" selected>Последни новини:</mat-chip>
      </mat-chip-list>
    </span>
    <div class="news-container" *ngIf="companyNews">

      <mat-accordion style="width: 300px !important;" class="news-accordion">

        <mat-expansion-panel style="width: 300px !important;" hideToggle *ngIf="companyNews[0]">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{companyNews[0].title}}
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon>date_range</mat-icon>
              {{companyNews[0].datePublished.substring(0, 10)}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div body-2> {{companyNews[0].description}} </div>

        </mat-expansion-panel>

        <mat-expansion-panel style="width: 300px !important;" hideToggle *ngIf="companyNews[1]">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{companyNews[1].title}}
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon>date_range</mat-icon>
              {{companyNews[1].datePublished.substring(0, 10)}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div body-2> {{companyNews[1].description}} </div>
        </mat-expansion-panel>

        <mat-expansion-panel style="width: 300px !important;" hideToggle *ngIf="companyNews[2]">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{companyNews[2].title}}
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon>date_range</mat-icon>
              {{companyNews[2].datePublished.substring(0, 10)}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div body-2> {{companyNews[2].description}} </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
</div>

  <div class="chart-container">
    <mat-chip-list>
        <mat-chip color="primary" disabled>Ценова диаграма</mat-chip>


        <mat-chip color="primary" (click)="chartData(60)" selected>Последния час</mat-chip>
        <mat-chip color="primary" (click)="chartData(360)" selected>Последните 6 часа</mat-chip>
        <mat-chip color="primary" (click)="chartData(720)" selected>Последните 12 часа</mat-chip>
        <mat-chip color="primary" (click)="chartData(1440)" selected>Последните 24 часа</mat-chip>



    </mat-chip-list>
    <div id="chartdiv"></div>
  </div>
</div>


